* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #f4f4f4;
  background-color: #212529;
}

.card {
  height: 400px;
  width: 400px;
  background-color: rgb(31, 40, 55);
  border-radius: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-list {
  display: block;
  list-style: none;
}

.hidden {
  display: none;
}
